.header {
    background-color: #f6ede6;
    border-style: inset;
    border-color: rgb(247, 239, 239);
    border-width: 2px;
    
}
.logo{
    position: relative;
    width: 15%;
    text-align: center;      
}
@media (max-width: 992px){
    .logo{
        position: relative;
        width: 30%; 
        text-align: center;  
        
    }
} 
.navbar{
    background-color: #1a1a1a;
    padding: 2px 5px;
    text-align: center;

   
}
.nav-link{
    color: #6480a5;
    margin: auto 20px auto 20px;
    text-align: center;
}
img{
    width: 5%;
}

#adverts{
    width: 100%;
    text-align: center;
    
    
}
#advertsi{
    width: 70%;
    
    
}